.user-box{
    display: flex;
    border: 1px solid red;
    margin: 10px;
    width: 70%;
}
.user-img img{
    height: 100px;
    width: 150px;
}
.user-info{
    padding-left: 10px;
}
.user-info button{
    background-color: blue;
    color: white;
    height: 30px;
    width: 90px;
    font-weight: 800;
    border: 1px solid white;
    border-radius: 5px;
}